<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>歌曲列表</title>

    <script src="/static/me/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/static/layui-v2.4.5/layui/layui.js" ></script>

    <script type="text/javascript" src="/static/layui-v2.4.5/layui/layui.all.js"></script>

    <script src="/static/me/js/songList.js"></script>
    <link href="/static/me/css/tracklist.css" rel="stylesheet">
    <link href="/static/me/css/index.css" rel="stylesheet">
</head>
<body>
<!--第三方的歌单详情-->
<div>
    <div class="playlist-detail">
        <div class="detail-head">
            <div class="detail-head-cover">
                <img src="{{.songList.SongCoverImgUrl}}">
            </div>
            <div class="detail-head-title">
                <h2 class="ng-binding">{{.songList.Description}}</h2>
                <div class="playlist-button-list">
                    <div class="playlist-button playadd-button">
                        <div class="play-list ng-binding">
                            <img src="/static/me/imgs/play.png">
                            <span> 播放全部</span>
                        </div>
                        <div class="add-list">
                            <img src="/static/me/imgs/add2.png">
                        </div>
                    </div>
                    <div class="playlist-button clone-button">
                        <div class="play-list" onclick="createCollectSongCover({
                            'songCoverId':{{.songList.SongCoverId}},
                            'songCoverUrl':{{.songList.SongCoverImgUrl}},
                            'songCoverName':{{.songList.Description}},
                             })">
                            <img class="fadd" src="/static/me/imgs/folder_add.png">
                            <span>收藏歌单</span>
                        </div>
                    </div>
                    <div class="playlist-button edit-button">
                        <div class="play-list">
                            <img class="fadd" src="/static/me/imgs/linked.png">
                            <span>外部链接</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-list">
            <ul class="detail-song-list">
                <li class="head">
                    <div class="title"><a class="ng-binding">歌曲名</a></div>
                    <div class="artist"><a class="ng-binding">歌手</a></div>
                    <div class="album"><a class="ng-binding">专辑名</a></div>
                    <div class="tools ng-binding">操作</div>
                </li>
                {{range .songList.List}}
                <li  class="ng-scope" onmouseover="songHandleMouseOver(this)"
                     onmouseout="songHandleMouseOut(this)">
                    <div class="title"
                         onclick="playSongByUrl({'playUrl':{{.SongPlayUrl}},
                                                'songCoverUrl':{{.SongCoverUrl}},
                                                 'songID':{{.SongId}},
                                                  'songName':{{.SongName}} })">
                        <img src="/static/me/imgs/play_song.png"/>
                        <a class="ng-binding " style="position: relative;top: -4px;left: 4px;">
                            {{.SongName}}
                        </a>
                    </div>
                    <div class="artist">
                        <a class="ng-binding">{{.Singer}}</a>
                    </div>
                    <div class="album">
                        <a class="ng-binding">{{.SongAlbum}}</a>
                    </div>
                    <div class="tools tools2 tools-hide" id="{{.SongId}}">
                        <a title="添加到当前播放" class="detail-add-button" >
                            <span class=" li-add">
                                <img class="li-handle-img" src="/static/me/imgs/add2.png">
                            </span>
                        </a>
                        <a title="添加到歌单" class="detail-fav-button" onclick="addSongToSongCoverWindow({{.SongId}})">
                            <span class=" li-song-list">
                                <img  class="li-handle-img" class="li-handle-img" src="/static/me/imgs/folder_add.png">
                            </span>
                        </a>
                        <!--不是自己的歌单不能显示删除操作-->
                        <a title="从歌单删除" class="detail-delete-button ng-hide ">
                            <span class="li-del">
                                 <img  class="li-handle-img" src="/static/me/imgs/del.png">
                            </span>
                        </a>
                        <a title="链接" class="source-button">
                            <span class=" li-link ">
                               <img class="li-handle-img" src="/static/me/imgs/linked.png">
                            </span>
                        </a>
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>



</body>
</html>