<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>online-music</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/me/js/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/me/css/index.css" rel="stylesheet">
</head>
<body>
<!--第三方的歌单列表-->
     <div class="browser flex-scroll-wrapper" height="547px" >
        <div class="page-hot-playlist  ">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#wyy-music" data-toggle="tab">
                        网易云音乐
                    </a>
                </li>
                <li><a href="#qq-music" data-toggle="tab">QQ音乐</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="wyy-music">
                    <div class="cover-container">
                        <ul class="playlist-covers">
                            {{range .coverList.List }}
                            <li>
                                <a href="/v1/songCover/querySongList?channelId=1&songCoverId={{.SongCoverId}}&coverImgUrl={{.CoverImgUrl}}&description={{.Description}}"
                                   class="ng-binding" target="_self">
                                    <div class="u-cover">
                                        <img src="{{.CoverImgUrl}}" title="{{.Description}}">
                                    </div>
                                    <div class="desc">
                                        <span>{{.Description}}</span>
                                    </div>
                                </a>
                            </li>
                            {{end}}
                        </ul>
                    </div>
                </div>
                <div class="tab-pane fade" id="qq-music">
                    <p> <p>我是第二个标签</p></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>