.laytable-cell-1-number {
	width: 80px;
}
.laytable-cell-1-name {
	width: 118px;
}

.laytable-cell-1-songCoverName {
	width: 150px;
}

.laytable-cell-1-type {
	width: 140px;
}

.laytable-cell-1-handle{
	width: 255px;
}

tr,td {
	text-align: center;
}

.layui-table-cell {
	text-align: center;
}

.layui-laypage a{
	font-size: 18px;
}

.layui-laypage span{
	font-size: 18px;
}